{{> header }}

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Events</h1>
        <p class="lead text-muted">On this page you can see all our currently running events. Feel free to join any of them.</p>
      </div>
    </section>


{{#each events}}
    <div class="card">
        <h5 class="card-header">In {{this.CityName}}:</h5>
        <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">{{this.Description}}</p>
            <a onclick="editEvent({{this.Id}})" class="btn custombtn">Edit event</a>
            <a onclick="deleteEvent({{this.Id}})" class="btn custombtn">Delete event</a>        
            <a onclick="followEvent({{this.Id}})" class="btn custombtn">See Details</a>    
        </div>
    </div>
{{/each}}

    <script>
        function editEvent(Id){
            location.href = "/event/" + Id;
        };

        function deleteEvent(Id){
            location.href = "event_delete/" + Id;
        };

        function followEvent(Id){
            location.href = "event-detail/" + Id;
        };
    </script>
{{> footer }}