{{> header }}
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Our Gallery</h1>
        <p class="lead text-muted">On this page you will see pictures from our events that users uploaded.</p>
      </div>
    </section>
    <div class="wraper">
        {{#each pics}}
            <div class="row mb-2">
                <div class="col-md-8 gallerycenter">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h3 class="mb-0">
                                <h2 class="text-dark">{{ this.EventName }}</h2>
                            </h3>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">{{ this.Description }}</p>
                            <ul style="display: flex;">
                                <li style="display: flex;">
                                    <a onclick="editPicture({{ this.Id }})" class="btn custombtn" style="float:left;">Edit Picture</a>
                                </li>
                                <li style="display: flex;">
                                    <a onclick="deletePicture({{ this.Id }})" class="btn custombtn" style="margin-left: 50px;">Delete Picture</a>
                                </li>
                            </ul>
                        </div>
                        <img class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block" width="250" height="250" src="{{ this.Link }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
                    </div>
                </div>
            </div>
        {{/each}}
    </div> 

    <script>
        function editPicture(Id){
            location.href = "/picture/" + Id;
        }

        function deletePicture(Id){
            location.href = "/delete-picture/" + Id;
        }
    </script>


{{> footer }}
