<div class="wrapper">

    {{> header }}

    <body background="/img/background.jpg">
        <div class="row marketing">
            <div class="col-lg-4">
                <div class="container">
                    <h1 class="titleR">{{title}}</h1>
                </div>
            </div>


            <div class="col-lg-3">
                <button id="insert" onClick="insert()" type="button" class="btnR">+</button>
            </div>
        </div>

        {{#each photos}}

        <div class="photoSpacer">
            <div class="row marketing">
                <div class="col-lg-6">
                    <div class="imgR">
                        <img class="imgR" src={{link}}>;
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="titleR1">Uploaded by : {{name}}</div>
                    <div class="titleR1">Likes: {{likes}}</div>
                    <div class="titleR1">Description:</div>
                    <div class="titleR2">{{description}} </div>

                    {{#each ../comments}}
                    {{#if_eq photoTarget 1}}
                    <div class="titleR2">{{this.text}}</div>
                    {{/if_eq}}
                    {{/each}}

                    <form method="POST" action="/add_comment">

                        <div class="row marketing">
                            <div class="col-lg-8">
                                <div class="subtitleR">
                                    <input type="text" name="comment" class="form-control" placeholder="type comment">
                                </div>
                                <div
                            </div>
                            <div class="col-lg-2">
                                <button type="submit" class="btn1">post</button>
                            </div>
                    </form>

                </div>
            </div>
        </div>

        {{/each}}



        <!-- <ol>
            {{#each pilots}}
            <li class="listTitleR">{{name}}

                <div class="row marketing">
                    <div class="col-lg-3">
                        <div class="listSubtitleR">Team: {{nameTeam}}</div>
                        <div class="detailR">Country: {{country}}</div>
                        <div class="detailR">Podiums: {{podiums}}</div>
                        <div class="detailR">Points: {{points}}</div>
                    </div>


                    <div class="col-lg-6">
                        <div class="detailR">G.P. Entered: {{gpEntered}}</div>
                        <div class="detailR">Championships: {{wChampionships}}</div>
                        <div class="detailR">Highest Finish: {{highestFinish}}</div>
                        <div class="detailR">Birth Date: {{birthday}}</div>
                    </div>


                    <div class="col-lg-3">
                        <button class="btn" onclick="edit({{json this}})"> Edit</button>
                        <button class="btn" onclick="deletePilot({{this.pilot_ID}})"> Delete</button>
                    </div>
            </li>

            {{/each}}
        </ol>
        -->

        <script>
            function insert() {
                location.href = "/add_picture";
            };

            function log() {

            }
        </script>
    </body>

    <div class="space">
        {{> footer}}
    </div>

</div>